<h1>New category</h1>
<% if current_user.admin? %>
  <p>User Role: <%= current_user.role %></p>
  <%= render "form", category: @category %>
  <br>
  <div>
    <%= link_to "Back to categories", categories_path %>
  </div>
<% else %>
  <p>(No permission to add a new category)</p>
<% end %>
